<div id="dashboard-body">
	<div class="ui text container">
	<h2> Welcome, <%= user.name %> ! </h2>
	<div class="ui vertical steps">
	  <div class="step">
	    <i class="car icon"></i>
	    <div class="content">
	      <div class="title">Park vehicle</div>
	      <div class="description">Having a vehicle is essential for this step</div>
	    </div>
	  </div>
	  <div class="step">
	    <i class="location arrow icon"></i>
	    <div class="content">
	      <div class="title">Share location</div>
	      <div class="description">We need it to get the 411</div>
	    </div>
	  </div>
	  <div class="step">
	    <i class="send icon"></i>
	    <div class="content">
	      <div class="title">Get the 411</div>
	      <div class="description">Via web and text, to you and a contact</div>
	    </div>
	  </div>
	</div>
	<div class="ui text container">


	<p>

		Hit Park when you're about to park your vehicle, and I can tell you when the next street sweeping time is, text you that info, and also send you text alerts as the time approaches.
	<br>
	<br>
		Dashboard shows you the currently parked vehicle
	<br>
	<br>
		Contacts are for people who you'd like me to notify when you park and other street sweeping info.
	</p>
	</div>
	</div>
</div>