<div id="park-body">

  <div id='map'></div>

  <div class="ui middle aligned centered fluid page grid">
  <div class="colum">
    <%= form_for :events, url: events_path, method:"POST",  html: {id: "parking-form"}  do |f| %>
      <%= f.hidden_field :lng  %>
      <%= f.hidden_field :lat  %>
      <%= f.submit "Yep, I'm parked here", class: "massive ui blue button", id:"submit-btn" %>
    <% end %>  
    </div>
  </div>
  <!-- </div> -->
</div>
<!-- mapbox -->
  <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css'/>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>

  <script>
  L.mapbox.accessToken = 'pk.eyJ1IjoidGlzZGVyZWsiLCJhIjoiZjkyNGM0NzNmMmJkZDcwNDY1ZTFjZjdmMjg5ZjVjYjcifQ.L45m9mxolxtTCizyjYLzGA';
  var geolocate = document.getElementById('geolocate-park-btn');
  var park = document.getElementById('parking-form')
  var map = L.mapbox.map('map', 'mapbox.emerald', {
    center: [37.7833, -122.4167],
    zoom: 10
  });

  var myLayer = L.mapbox.featureLayer().addTo(map);
    
    map.locate();
    // Once we've got a position, zoom and center the map
    // on it, and add a single marker.
    map.on('locationfound', function(e) {
      park.style.display = 'block'
      map.fitBounds(e.bounds);
      // console.log(e.bounds);
      myLayer.setGeoJSON({
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [e.latlng.lng, e.latlng.lat]
        },
        properties: {
          'marker-size': 'large',
          'marker-color': '#3bb2d0',
          'marker-symbol': 'car'
        }
      });

    });

    ;
</script>